<div class="content">
  <h2>
    認識我們
  </h2>
  <p>
    西米谷基督教會(簡稱CCSV)是由一群信奉救主耶穌基督的基督徒所組成的教會，在2013年12月1日西米谷舉行教會獻堂禮拜。
    本教會是由西米谷華人基督教會(簡稱CCCSV)及康谷華宣教會(CVCMC)兩教會合成一個教會，
    起因是由於在2009年兩教會前後遷至西米谷地區聚會(當時西米谷沒有華人教會)，歷經三年後，在2012年6月經由兩邊教會教牧同工在靈裡交通，
    深知教會在此地區福音的需要，及『主裡合一，主內一家』的見證，我們需要合成一群成為一個教會；
    並且我們深知華人欠所居住地區說英語族群福音的債，所以特別在成立新且合一的教會之初，願將教會名稱中的“華人Chinese”字樣去除，
    而成立了西米谷基督教會Christian Church of Simi Valley，以召本教會在未來發展教會時的提醒及異象。
    教會會員的信仰、生活和事奉都以聖經為依據，並願共同遵守：使徒信經﹑教會信仰宣言和聖經信仰生活守則。
    對內彼此相愛，互相學習配搭事奉，以成全聖徒來建立基督教會；對外廣傳福音，不分海內外或不同膚色之人種、語言，
    只要是未得福音之民，皆是教會傳福音之對象，並且教會也將結合一切屬真理之教會或機構，共同建立與拓展新的福音據點，
    進而在各地建立以聖經真理為基礎的分會，興旺上帝的國度。
  </p>
  <p>
    在基督裡歡迎您來到西米谷基督教會，這裡是您屬靈的家，是一個願意用基督的愛接納您、關懷您並歡迎您一起來投入事奉。
    願那使人有盼望的神施恩賜福與您和您的全家！
  </p>
  <h2>
    我們的異象
  </h2>
  <ul>
    <li>在西米谷建立同心合意興旺福音，</li>
    <li>遵行主耶穌基督的大使命，</li>
    <li>多元化、多種語言的教會。</li>
  </ul>
  <h2>
    我們的信仰
  </h2>
  <ul>
    <li>神是自有永有的，祂創造宇宙萬物，乃是聖父、聖子、聖靈三位一體，又真又活的獨一真神
    (創一26; 出二十3; 申六4; 民六24~26; 賽四十八16; 六十三7~10; 太十二28; 二十八19; 路三22; 約一32; 十;
    四25~31; 十五26~27; 林後十三14)。</li>
    <li>主耶穌基督是 神的獨生子，道成肉身，從聖靈成孕，為童貞女馬利亞所生，他被釘死在十字架上，
    流血為罪人贖罪，被埋葬，身體復活升天，將來要在榮耀與權能中親自再臨地上
    (賽七14; 太一20~23; 路一35; 約一1~4,14; 十四1~3; 徒二22~24, 32~36; 羅五8; 林前十五3~8; 林後五21; 多二14;
     來九12~15; 彼前二21~25; 約壹二2)。</li>
    <li>聖靈是三一真神的第三位，住在信徒心內為保惠師，永遠為基督作見證(約三3~7; 十六7~13; 羅八1~14,26,27; 林前六19~20;
    十二3; 弗五17~21; 帖前五19; 帖後二13)。</li>
    <li>聖經全部新舊約共六十六卷，原文都是 神所默示的，所以是完全可信、必無錯誤，其中心為主耶穌基督，是基督徒信仰與生活的最高準則
    (太五18; 林前二13; 提後三16,17; 彼後一21)。</li>
    <li>人原是 神照自己形像造的，因悖逆 神而死在罪惡過犯之中，落在魔鬼的權勢之下，
    人的救贖是單單藉著 神的恩典與耶穌基督的寶血所作成，人必須信靠主耶穌，藉著聖靈重生，方能得救享永生
    (創一26~27, 二7; 三13, 16,17; 約一12,13; 羅三10~12, 23; 林後五17; 弗一3~8; 二8,9)。</li>
    <li>基督是教會的元首，教會是基督的身體，包括所有重生得救的信徒，其使命為見證耶穌基督，完成祂的託付，傳楊福音直到地極
    (太十六15~18;二十八19~20;徒一8; 二41~42,47;弗一20~23;二19~22;五23~24; 西一18)。</li>
    <li>浸禮與擘餅聚會為聖經所教導的兩大聖禮，全教會應共同遵守(太二十六26~28;二十八19; 可十四22~24; 十六16;
     徒二38; 羅六3~4; 林前十一23~26; 弗四5)。</li>
    <li>耶穌基督的再來，是信徒所信所望的，那時在基督裡睡了的人，必復活，活著的基督徒必改變，在空中與主相會，
    永遠與主同在(太六10,13; 十六27,28; 約五24~29; 徒一10,11; 林前十五52~54;腓三20~21; 帖前四16~18; 多二13)。</li>
  </ul>
</div>
